{% extends 'base.html' %}

{% block content %}

<h1>Quiz App</h1>
<p style="text-align:center;">Choose the correct answers and submit.</p>
<br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for q in questions %}
    <div class="question-card">
        <h3>Q{{ forloop.counter }}. {{ q.question }}</h3>

        <label class="option">
            <input type="radio" name="{{ q.id }}" value="{{ q.option1 }}" required>
            {{ q.option1 }}
        </label>

        <label class="option">
            <input type="radio" name="{{ q.id }}" value="{{ q.option2 }}" required>
            {{ q.option2 }}
        </label>

        <label class="option">
            <input type="radio" name="{{ q.id }}" value="{{ q.option3 }}" required>
            {{ q.option3 }}
        </label>

        <label class="option">
            <input type="radio" name="{{ q.id }}" value="{{ q.option4 }}" required>
            {{ q.option4 }}
        </label>
    </div>
    {% endfor %}

    <div style="text-align:center; margin-top: 30px;">
        <button type="submit" class="btn">Submit Quiz</button>
    </div>
</form>


{% endblock %}